* {
  margin: 0;
  padding: 0;
}

.contianer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  border: 2px solid black;
  height: 500px;
  width: 500px;
}
